.article{
    display:flex;
    flex-direction: column;
    border: 2px outset gold;
    width:30%;
    justify-content: center;
    align-items: center;
    Margin-top:2rem;
    text-align: center;
    background-image: none;
    background-color: silver;
}

.article >ul >li {
    list-style-type: none;
}